.search{
    padding: 20px;
    width: 100%;
    margin: 10px;
}
.input{
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.input:focus{
    outline: none;
}